CEJ_SEARCH_URL='https://udlejning.cej.dk/find-bolig/overblik?collection=residences&monthlyPrice=0-10600&p=sj%C3%A6lland&types=apartment'

CEJ_DISCORD_WEBHOOK_URL='REPLACE_WITH_DISCORD_WEBHOOK_URL'
CEJ_DISCORD_USERNAME='CEJ Tracker'
CEJ_DISCORD_AVATAR_URL=''
CEJ_DISCORD_MENTION_USER_ID=''
CEJ_DISCORD_MENTION_ROLE_ID=''

CEJ_WEB_PORT='8787'
CRON_SCHEDULE='*/5 * * * *'
