<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(SDP.Web.Components.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(SDP.Web.Components.Shared.MainLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
