@inherits LayoutComponentBase

<div class="shell">
    <aside class="sidebar">
        <h1>SDP</h1>
        <NavLink href="/" Match="NavLinkMatch.All">Projects</NavLink>
    </aside>
    <main>
        @Body
    </main>
</div>
